# Ignore
bin/*
build-debug/*
build-release/*
CMakeFiles/*
extern/googletest/*
!extern/googletest/CMakeLists.txt
lib/*
test/bin/*
examples/bin/*
examples/src/main.cpp
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeLists.txt.user
notes
nn
.vscode/*
*.autosave
src/NeuralNet/old/*
Papers/*
TODO
extern/googlebenchmark/*
!extern/googlebenchmark/CMakeLists.txt
benchmark/bin/*


# Empty for now
docs/*

