# Ignore

build-debug/*
build-release/*
data/*
docs/*
extern/googlebenchmark/*
!extern/googlebenchmark/CMakeLists.txt
extern/googletest/*
!extern/googletest/CMakeLists.txt
papers/*
CMakeLists.txt.user
TODO

*.autosave



